.rating-input {
  display: flex;
  margin-right: 4px;
}

.review-item {
  display: flex;
}

.create-review-div{
  display: flex;
}

.filled {
  outline: none;
  background: none;
  border: none;
}

.empty {
  /* color: #CCCCCC; */
  outline: none;
  background: none;
  border: none;
}

.errors-shown {
  color: red;
  margin: 2px 0px;
}

.errors-hidden {
  display: none;
}

.create-review-modal-div {
  width: 100%;
}

.create-review-text > h2-semibold{
  margin: 0px 0px 10px 0px;
  display: flex;
  justify-content: center;
}

.ReviewCreateFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ReviewCreateFormContainer > textarea {
  resize: none;
  height: 110px;
  border: 2px black solid;
  width: 100%;
}

.create-review-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-review-div > button > i {
  font-size: 20px;
}

.create-review-div > p {
  padding-left: 3px;
}
