.spot-card {
  display: flex;
  border: 1px white solid;
  overflow: hidden;
  flex-direction: column;
}

.spot-image-container {
  width: 100%;
}

.spot-image {
  width: 100%;
  height: 13em;
  object-fit: cover;
  border: 1px white solid;
  border-radius: 15px;
}

.landing-container {
  display: grid;
  gap: 15px;
  margin-right: 40px;
  margin-left: 40px;
  text-decoration: none;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.spot-card-rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.spot-card-top {
  display: flex;
  justify-content: space-between;
}

.spot-card-bottom {
  margin-top: 0px;
}

p {
  font-size: 14px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

.changeCursor {
  cursor: pointer;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1025px){
  .landing-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1090px){
  .spot-image {
    height: 16em;
  }
}

@media screen and (min-width: 1200px){
  .spot-image {
    height: 18em;
  }
}

@media screen and (max-width: 510px){
  .spot-image {
    height: 18em;
  }
}
