.spot-card {
  display: flex;
  border: 1px white solid;
  overflow: hidden;
  flex-direction: column;
}

.spot-image:hover{
  box-shadow: 2px 2px 4px rgb(160, 160, 160);
  border-color: #e7e7e7c7;
}

.spot-image-container {
  width: 100%;

}

.spot-image {
  width: 98%;
  height: 13em;
  object-fit: cover;
  border: 1px white solid;
  border-radius: 15px;
}

.landing-container {
  display: grid;
  gap: 15px;
  margin-right: 40px;
  margin-left: 40px;
  text-decoration: none;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.spot-card-rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.spot-card-top {
  display: flex;
  justify-content: space-between;
}

.spot-card-bottom {
  margin-top: 0px;
}

.changeCursor {
  cursor: pointer;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .create-spot-button-form{

}

.create-spot-button-div{

} */

.errors-shown {
  color: #FF5A5F;
}

.errors-hidden {
  display: none;
}

@media screen and (min-width: 1025px){
  .landing-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .spot-image {
    height: 25em;
  }
}


@media screen and (min-width: 1025px){
  .spot-image {
    height: 13em;
  }
}

@media screen and (min-width: 1125px){
  .spot-image {
    height: 14em;
  }
}

@media screen and (min-width: 1225px){
  .spot-image {
    height: 15em;
  }
}

@media screen and (min-width: 1325px){
  .spot-image {
    height: 16em;
  }
}

@media screen and (min-width: 1425px){
  .spot-image {
    height: 20em;
  }
}

@media screen and (min-width: 1500px){
  .spot-image {
    height: 20em;
  }
}

@media screen and (min-width: 1600px){
  .spot-image {
    height: 25em;
  }
}

@media screen and (max-width: 510px){
  .spot-image {
    height: 18em;
  }
}
